<div class="ui raised segment">
	<h2 class="ui header">Demo Form: Sku - Dynamic formGroup</h2>
	<h4 class="ui header">Generate from template to class</h4>

	<!-- formGroup ngForm-->
	<form #f="ngForm"
		(ngSubmit)="onSubmit(f.value)"
		class="ui form">

		
		<div class="field">
			<label for="skuInput">SKU</label>
			<!-- formControl  ngModel-->
			<input type="text"
				id="skuInput"
				placeholder="SKU"
				name="sku" ngModel>
		</div>

		<button type="submit" class="ui button">submit</button>

	</form>
</div>

<div class="ui raised segment">
		<h2 class="ui header">Demo Form: Sku - Using FormBuilder</h2>
		<h4 class="ui header">Binding from class to template</h4>

		<!-- formGroup ngForm-->
		<form [formGroup]="myForm"
			(ngSubmit)="myFormSubmit(myForm.value)"
			class="ui form">
			<div class="field">
				<label for="skuInput">SKU</label>
				<!-- formControl  ngModel-->
				<input type="text"
					id="skuInput"
					placeholder="SKU"
					[formControl]="myForm.controls['sku']">
			</div>
	
			<button type="submit" class="ui button">submit</button>
	
		</form>
	</div>