<div class="ui raised segment">
    <h2 class="ui header">Demo form NgModel</h2>
    <h4 class="ui header">usign ngModel with forms</h4>
  
    <!-- formGroup ngForm-->
    <form [formGroup]="myForm"
      (ngSubmit)="onSubmit(myForm.value)"
      class="ui form">
      
      <div class="ui info message">
        The product name is: {{productName}}
      </div>

      <div class="field">
        <label for="productName">Product Name</label>
        <!-- formControl  ngModel-->
        <input type="text"
          id="productName"
          placeholder="Product Name"
          [formControl]="myForm.get('productName')"
          [(ngModel)]="productName">
      </div>
  
      <button type="submit" class="ui button">submit</button>
  
    </form>
  </div>