<div class="ui raised segment">
    <h2 class="ui header">Demo Form: Sku - Validations</h2>
    <h4 class="ui header">using Validators (explicit)</h4>
  
    <!-- formGroup ngForm-->
    <form [formGroup]="myForm"
      (ngSubmit)="onSubmit(myForm.value)"
      class="ui form"
      [class.error]="!myForm.valid  && myForm.touched">

      <div class="field"
        [class.error]="!sku.valid  && sku.touched">
        <label for="skuInput">SKU</label>
        <!-- formControl  ngModel-->
        <input type="text"
          id="skuInput"
          placeholder="SKU"
          [formControl]="sku">

          <div *ngIf="sku.hasError('required')" class="ui error message">SKU is required (formControl test)</div>
          
      </div>

      <!-- <div *ngIf="myForm.hasError('required', 'sku')" class="error">SKU is required (fromGroup test)</div> -->
      
      <div class="field">
        <label for="custom">Custom validation</label>
        <input type="text"
          id="custom"
          placeholder="custom"
          [formControl]="myForm.controls['custom']">

          <div *ngIf="myForm.controls['custom'].hasError('invalidField')" class="ui error message">Custom must start with<span> '123' </span></div>
          <div *ngIf="myForm.controls['custom'].hasError('required')" class="ui error message">Custom is required</div>
      </div>

      <button type="submit" class="ui button">submit</button>
  
    </form>
  </div>

